<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bark N Bite - Admin</title>
</head>

<body>
    <form method="post">
        <input type="text" name="username" id="" placeholder="username">
        <input type="password" name="password" id="" placeholder="password">
        <input type="submit" value="login">
    </form>
</body>

</html>