<% extend('layout') %>

<nav class="main-menu-wrapper">
    <div class="container">
        <div class="category-menu-wrapper">
            <button class="category-menu-close" type="button" data-navigation-close>Back</button>
            <ul class="category-menu category-menu-primary" data-navigation-primary>
                <li class="category-menu-item">
                    <a href="http://soho-classic-demo.mybigcommerce.com/all-products/">
                        All Products
                    </a>

                </li>
                <li class="category-menu-item">
                    <a href="http://soho-classic-demo.mybigcommerce.com/beds/">
                        Beds
                    </a>

                </li>
                <li class="category-menu-item">
                    <a href="http://soho-classic-demo.mybigcommerce.com/collars/">
                        Collars
                    </a>

                </li>
                <li class="category-menu-item">
                    <a href="http://soho-classic-demo.mybigcommerce.com/leashes/">
                        Leashes
                    </a>

                </li>
                <li class="category-menu-item">
                    <a href="http://soho-classic-demo.mybigcommerce.com/sale/">
                        Sale
                    </a>

                </li>
            </ul>
        </div>

        <ul class="pages-menu">
            <li class="pages-menu-item">
                <a href="http://soho-classic-demo.mybigcommerce.com/all-products/">Shop</a>
            </li>
            <li class="pages-menu-item">
                <a href="http://soho-classic-demo.mybigcommerce.com/blog/">Blog</a>
            </li>
            <li class="pages-menu-item">
                <a href="http://soho-classic-demo.mybigcommerce.com/about/">About</a>
            </li>
            <li class="pages-menu-item">
                <a href="http://soho-classic-demo.mybigcommerce.com/contact-us/">Contact Us</a>
            </li>

            <li class="pages-menu-item">
                <a href="/account.php">My Account</a>
            </li>

            <li class="pages-menu-item">
                <a href="/wishlist.php">My Wishlists</a>
            </li>

            <li class="pages-menu-item">
                <a href="/login.php?action=logout">Log Out</a>
            </li>

            <li class="pages-menu-item">
                <a href="/giftcertificates.php">Gift Certificates</a>
            </li>

            <li class="pages-menu-item">
                <div class="currency-selector" data-currency-selector>
                    <span class="currency-selector-label">Currency :</span>
                    <div class="form-select-wrapper">
                        <span class="form-selected-text">CAD</span>
                        <select>
                            <option value="https://store-a0ypk1.mybigcommerce.com/?setCurrencyId=2" selected>
                                CAD
                            </option>
                            <option value="https://store-a0ypk1.mybigcommerce.com/?setCurrencyId=3">
                                AUD
                            </option>
                            <option value="https://store-a0ypk1.mybigcommerce.com/?setCurrencyId=5">
                                EUR
                            </option>
                            <option value="https://store-a0ypk1.mybigcommerce.com/?setCurrencyId=4">
                                GBP
                            </option>
                            <option value="https://store-a0ypk1.mybigcommerce.com/?setCurrencyId=1">
                                USD
                            </option>
                        </select>
                    </div>
                </div>
            </li>

            <li class="pages-menu-item pages-menu-item-search">
                <!-- snippet location forms_search -->
                <form class="form search-form" action="/search.php">
                    <div class="form-field inline-button">
                        <label class="form-label" for="search_query_adv">
                            <span class="form-label-text hidden">Search</span>
                            <input class="form-input" id="search_query_adv" name="search_query_adv" placeholder="Type in keyword..."
                                value="">
                        </label>
                        <button class="button" type="submit">
                            <span class="search-form-button-text">Search</span>
                            <svg class="search-form-button-icon">
                                <use xlink:href="#icon-search">
                            </svg>
                        </button>
                    </div>
                </form>
            </li>
        </ul>
    </div>
</nav>




<section class="carousel home-module" data-home-module>
    <figure class="carousel-item">
        <div class="carousel-item-image-wrapper">
            <a href="http://soho-classic-demo.mybigcommerce.com/all-products/" style="background-image:url(https://cdn8.bigcommerce.com/s-a0ypk1/product_images/theme_images/soho_classic_carousel_1.jpg?t=1469809197)"
                data-carousel-image-wrapper>
                <img class="carousel-item-image" src="https://cdn8.bigcommerce.com/s-a0ypk1/product_images/theme_images/soho_classic_carousel_1.jpg?t=1469809197"
                    alt="" />
            </a>

            <div class="carousel-navigation">
                <span class="carousel-navigation-item carousel-previous">
                    <svg>
                        <use xlink:href="#icon-arrow-left">
                    </svg>
                </span>
                <span class="carousel-navigation-item carousel-next">
                    <svg>
                        <use xlink:href="#icon-arrow-right">
                    </svg>
                </span>
            </div>
        </div>

        <figcaption class="carousel-item-info" data-carousel-info>
            <h2>
                <a href="http://soho-classic-demo.mybigcommerce.com/all-products/">Clean &amp; Versatile</a>
            </h2>

            <p>
                <a href="http://soho-classic-demo.mybigcommerce.com/all-products/">Soho&#039;s ample white space
                    and elegant typography let you show off a wide range of products in style.</a>
            </p>

            <a class="button" href="http://soho-classic-demo.mybigcommerce.com/all-products/">
                Take a Look
                <svg class="carousel-cta-icon">
                    <use xlink:href="#icon-arrow-right-button">
                </svg>
            </a>

            <div class="carousel-pagination">
                <span class="carousel-pagination-item active" data-carousel-pagination-item data-slide="0">0</span>
                <span class="carousel-pagination-item " data-carousel-pagination-item data-slide="1">1</span>
                <span class="carousel-pagination-item " data-carousel-pagination-item data-slide="2">2</span>
            </div>
        </figcaption>
    </figure>
    <figure class="carousel-item">
        <div class="carousel-item-image-wrapper">
            <a href="http://soho-classic-demo.mybigcommerce.com/all-products/" style="background-image:url(https://cdn8.bigcommerce.com/s-a0ypk1/product_images/theme_images/soho_classic_carousel_2.jpg?t=1469809197)"
                data-carousel-image-wrapper>
                <img class="carousel-item-image" src="https://cdn8.bigcommerce.com/s-a0ypk1/product_images/theme_images/soho_classic_carousel_2.jpg?t=1469809197"
                    alt="" />
            </a>

            <div class="carousel-navigation">
                <span class="carousel-navigation-item carousel-previous">
                    <svg>
                        <use xlink:href="#icon-arrow-left">
                    </svg>
                </span>
                <span class="carousel-navigation-item carousel-next">
                    <svg>
                        <use xlink:href="#icon-arrow-right">
                    </svg>
                </span>
            </div>
        </div>

        <figcaption class="carousel-item-info" data-carousel-info>
            <h2>
                <a href="http://soho-classic-demo.mybigcommerce.com/all-products/">A Boutique Theme</a>
            </h2>

            <p>
                <a href="http://soho-classic-demo.mybigcommerce.com/all-products/">Soho is a bright and playful
                    ecommerce theme designed with small-to-medium-sized catalogs in mind.</a>
            </p>

            <a class="button" href="http://soho-classic-demo.mybigcommerce.com/all-products/">
                Check it Out
                <svg class="carousel-cta-icon">
                    <use xlink:href="#icon-arrow-right-button">
                </svg>
            </a>

            <div class="carousel-pagination">
                <span class="carousel-pagination-item active" data-carousel-pagination-item data-slide="0">0</span>
                <span class="carousel-pagination-item " data-carousel-pagination-item data-slide="1">1</span>
                <span class="carousel-pagination-item " data-carousel-pagination-item data-slide="2">2</span>
            </div>
        </figcaption>
    </figure>
    <figure class="carousel-item">
        <div class="carousel-item-image-wrapper">
            <a href="http://soho-classic-demo.mybigcommerce.com/all-products/" style="background-image:url(https://cdn8.bigcommerce.com/s-a0ypk1/product_images/theme_images/soho_classic_carousel_3.jpg?t=1469809197)"
                data-carousel-image-wrapper>
                <img class="carousel-item-image" src="https://cdn8.bigcommerce.com/s-a0ypk1/product_images/theme_images/soho_classic_carousel_3.jpg?t=1469809197"
                    alt="" />
            </a>

            <div class="carousel-navigation">
                <span class="carousel-navigation-item carousel-previous">
                    <svg>
                        <use xlink:href="#icon-arrow-left">
                    </svg>
                </span>
                <span class="carousel-navigation-item carousel-next">
                    <svg>
                        <use xlink:href="#icon-arrow-right">
                    </svg>
                </span>
            </div>
        </div>

        <figcaption class="carousel-item-info" data-carousel-info>
            <h2>
                <a href="http://soho-classic-demo.mybigcommerce.com/all-products/">Checkout-Ready</a>
            </h2>

            <p>
                <a href="http://soho-classic-demo.mybigcommerce.com/all-products/">Colorful features and strong
                    calls to action invite customers to engage with your products and brand.</a>
            </p>

            <a class="button" href="http://soho-classic-demo.mybigcommerce.com/all-products/">
                See for Yourself
                <svg class="carousel-cta-icon">
                    <use xlink:href="#icon-arrow-right-button">
                </svg>
            </a>

            <div class="carousel-pagination">
                <span class="carousel-pagination-item active" data-carousel-pagination-item data-slide="0">0</span>
                <span class="carousel-pagination-item " data-carousel-pagination-item data-slide="1">1</span>
                <span class="carousel-pagination-item " data-carousel-pagination-item data-slide="2">2</span>
            </div>
        </figcaption>
    </figure>
</section>

<!-- snippet location home_content -->


<section class="products-featured home-module">
    <div class="container ">
        <h2 class="products-featured-title">Featured Products</h2>

        <div class="uk-child-width-expand@s" uk-grid>
            <div>
                <div class="uk-card uk-card-default uk-width-1-1@m">
                    <div class="uk-card-badge bribot"><span class="uk-margin-small-right" uk-icon="heart"></span></div>
                    <div class="uk-card-media-top">
                        <img src="img/dog.jpg" alt="">
                    </div>
                    <div class="uk-card-body padd">
                        <h3 class="uk-card-title" style="font-size:14px;">Royal Canin 5kg - Red Cherry</h3>
                        <h4 class="nomar">&#8377;&nbsp; 570</h4>

                    </div>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default uk-width-1-1@m">
                    <div class="uk-card-badge bribot"><span class="uk-margin-small-right" uk-icon="heart"></span></div>
                    <div class="uk-card-media-top">
                        <img src="img/dog1.jpg" alt="">
                    </div>
                    <div class="uk-card-body padd">
                        <h3 class="uk-card-title" style="font-size:14px;">Royal Canin 5kg - Red Cherry</h3>
                        <h4 class="nomar">&#8377;&nbsp; 570</h4>

                    </div>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default uk-width-1-1@m">
                    <div class="uk-card-badge bribot"><span class="uk-margin-small-right" uk-icon="heart"></span></div>
                    <div class="uk-card-media-top">
                        <img src="img/dog2.jpg" alt="">
                    </div>
                    <div class="uk-card-body padd">
                        <h3 class="uk-card-title" style="font-size:14px;">Royal Canin 5kg - Red Cherry</h3>
                        <h4 class="nomar">&#8377;&nbsp; 570</h4>

                    </div>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default uk-width-1-1@m">
                    <div class="uk-card-badge bribot"><span class="uk-margin-small-right" uk-icon="heart"></span></div>
                    <div class="uk-card-media-top">
                        <img src="img/dog.jpg" alt="">
                    </div>
                    <div class="uk-card-body padd">
                        <h3 class="uk-card-title" style="font-size:14px;">Royal Canin 5kg - Red Cherry</h3>
                        <h4 class="nomar">&#8377;&nbsp; 570</h4>

                    </div>
                </div>
            </div>
        </div>



    </div>
</section>
