<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>Santorini Collar - Soho Classic</title>

    <link rel='canonical' href='http://soho-classic-demo.mybigcommerce.com/santorini-collar/' />
    <meta property="og:type" content="product" />
    <meta property="og:title" content="Santorini Collar" />
    <meta property="og:description" content="" />
    <meta property="og:url" content="http://soho-classic-demo.mybigcommerce.com/santorini-collar/" />
    <meta property="og:site_name" content="Soho Classic" />
    <meta property="og:image" content="https://cdn8.bigcommerce.com/s-a0ypk1/products/83/images/307/IMG_6732_grande__88896.1449864549.500.750.jpg?c=2" />
    <meta property="product:price:amount" content="47" />
    <meta property="product:price:currency" content="CAD" />
    <meta property="og:availability" content="instock" />
    <meta property='pinterest:richpins' content='enabled'>
    <link rel='amphtml' href='http://soho-classic-demo.mybigcommerce.com/amp/santorini-collar/' />


    <link href="https://cdn8.bigcommerce.com/r-3fa9a90e0265a8d039c0262917638eca091289f3/img/bc_favicon.ico" rel="shortcut icon">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link data-stencil-stylesheet href="../css/probnb.css" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Montserrat:400|Karla:400|Source+Sans+Pro:400,400italic,600italic,600,300,300italic"
        rel="stylesheet">


    <script type="text/javascript">
        function beacon_deferred(beacon_api) { beacon_api.set_cookie_domain(".soho-classic-demo.mybigcommerce.com"); beacon_api.pageview({ "isNew": 0, "initiator": { "id": "3", "session_id": "cbc38ad4514755b15898a7beb5f1bde96c5c0e16", "type": "CUSTOMER", "visit_id": "817b3bcc-1857-4f23-b3b4-918d6dd57b7a", "visitor_id": "64010955-cd4c-4da8-bb72-b16b261b1226" }, "referer": { "url": "" }, "request": { "url": "http:\/\/soho-classic-demo.mybigcommerce.com\/santorini-collar\/" } }, '', 2021730, "product", { "product": { "product_code": "", "name": "Santorini Collar", "id": "83" }, "customer": { "id": 3 } }, '817b3bcc-1857-4f23-b3b4-918d6dd57b7a', '64010955-cd4c-4da8-bb72-b16b261b1226'); }
    </script>
    <script type="text/javascript">
        (function () { var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0]; g.type = 'text/javascript'; g.defer = true; g.src = 'https://cdn8.bigcommerce.com/r-3fa9a90e0265a8d039c0262917638eca091289f3/javascript/jirafe/beacon_api_background.js'; s.parentNode.insertBefore(g, s); })();
    </script>
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function (event) {
            var elements = document.querySelectorAll('[data-image-gallery-zoom-image-url], [data-zoom-image]');
            Array.prototype.forEach.call(elements, function (value, index) {
                if (value.hasAttribute("data-zoom-image")) {
                    var val = value.dataset.zoomImage + "&imbypass=on";
                    value.setAttribute('data-zoom-image', val);
                } else {
                    var val = value.dataset.imageGalleryZoomImageUrl + "&imbypass=on";
                    value.setAttribute('data-image-gallery-zoom-image-url', val);
                }
            });
        });
    </script>
    <script type="text/javascript">
        var BCData = { "product_attributes": { "purchasable": true, "purchasing_message": null, "sku": null, "upc": null, "stock": null, "instock": true, "stock_message": null, "price": { "without_tax": { "formatted": "$47.00", "value": 47 }, "tax_label": "Tax", "price_range": [], "retail_price_range": [] }, "weight": null, "base": true, "image": null } };
    </script>
    <link rel="stylesheet" href="../css/uikit.css">
    <script src="../js/uikit.min.js"></script>
    <script src="../js/uikit-icons.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
    <link rel="stylesheet" href="../css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Megrim" rel="stylesheet">
































    <!-- snippet location html_head -->
</head>

<body class="template-product  ">


    <!-- snippet location header -->
    <div class="icon-sprite"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <symbol id="icon-arrow-down" viewBox="0 0 11 7">
                <title>icon-arrow-down</title>
                <path d="M5.48954246,4.82184807 L0.667694383,0 L0,0.66769439 L4.82184807,5.48954246 L4.81205394,5.49933659 L5.47974832,6.16703097 L5.48954246,6.15723684 L5.49933659,6.16703097 L6.16703097,5.49933659 L6.15723684,5.48954246 L10.9790849,0.66769439 L10.3113905,0 L5.48954246,4.82184807 L5.48954246,4.82184807 Z"
                    transform="translate(5.489542, 3.083515) scale(-1, 1) translate(-5.489542, -3.083515) "></path>
            </symbol>

            <symbol id="icon-arrow-left" viewBox="0 0 20 37">
                <title>icon-arrow-left</title>
                <path d="M9.9999997,25.8942246 L-6.89422521,8.9999997 L-8.0000003,10.1057748 L9.69240116,27.7981763 L9.9999997,27.4905777 L10.3075982,27.7981763 L27.9999997,10.1057748 L26.8942246,8.9999997 L9.9999997,25.8942246 L9.9999997,25.8942246 Z"
                    transform="translate(10.000000, 18.399088) rotate(90.000000) translate(-10.000000, -18.399088)">
            </symbol>

            <symbol id="icon-arrow-right" viewBox="0 0 20 37">
                <title>icon-arrow-right</title>
                <path d="M10.0000003,25.8942246 L-6.89422461,8.9999997 L-7.9999997,10.1057748 L9.69240176,27.7981763 L10.0000003,27.4905777 L10.3075988,27.7981763 L28.0000003,10.1057748 L26.8942252,8.9999997 L10.0000003,25.8942246 L10.0000003,25.8942246 Z"
                    transform="translate(10.000000, 18.399088) rotate(270.000000) translate(-10.000000, -18.399088)">
            </symbol>

            <symbol id="icon-arrow-right-button" viewBox="0 0 7 12">
                <title>icon-arrow-right-button</title>
                <path d="M3.56159403,8.07214005 L-1.26025404,3.25029198 L-1.92794842,3.91798637 L2.89389964,8.73983444 L2.88410551,8.74962857 L3.55179989,9.41732295 L3.56159403,9.40752882 L3.57138816,9.41732295 L4.23908254,8.74962857 L4.22928841,8.73983444 L9.05113645,3.91798637 L8.38344205,3.25029198 L3.56159403,8.07214005 L3.56159403,8.07214005 Z"
                    transform="translate(3.561594, 6.333807) rotate(-90.000000) translate(-3.561594, -6.333807) "></path>
            </symbol>

            <symbol id="icon-author" viewBox="0 0 16 16">
                <title>icon-author</title>
                <path d="M10.315 9.37c1.55-.85 2.615-2.477 2.615-4.37 0-2.76-2.24-5-5-5s-5 2.24-5 5c0 1.893 1.064 3.52 2.615 4.37C2.603 10.29.392 12.86 0 16h15.86c-.39-3.14-2.603-5.71-5.545-6.63zM3.93 5c0-2.21 1.79-4 4-4s4 1.79 4 4-1.79 4-4 4-4-1.79-4-4zM1.236 15c.86-2.89 3.525-5 6.694-5 3.17 0 5.833 2.11 6.694 5H1.236z">
            </symbol>

            <symbol id="icon-bag" viewBox="0 0 14 16">
                <title>icon-bag</title>
                <path d="M13,4 L10,4 L10,3 L9.998,3 C9.998,2.994 10,2.989 10,2.984 C10,1.336 8.664,0 7.016,0 C5.369,0 4.033,1.336 4.033,2.984 C4.033,2.989 4.035,2.994 4.035,3 L4,3 L4,4 L1,4 C0.447,4 0,4.447 0,5 L0,15 C0,15.553 0.447,16 1,16 L13,16 C13.553,16 14,15.553 14,15 L14,5 C14,4.447 13.553,4 13,4 L13,4 L13,4 Z M5,3 C5,1.896 5.896,1 7,1 C8.104,1 9,1.896 9,3 L9,4 L5,4 L5,3 L5,3 L5,3 Z M13,15 L1,15 L1,5 L4,5 L4,7 L5,7 L5,5 L9,5 L9,7 L10,7 L10,5 L13,5 L13,15 L13,15 L13,15 Z"></path>
            </symbol>

            <symbol id="icon-check" viewBox="0 0 16 13">
                <title>icon-check</title>
                <path d="M0,6.48599451 L0.9327579,5.64613574 L5.745312,10.6990977 L15.06222,0 L16,0.8335818 L5.649274,12.7629659 L0,6.48599451 Z"></path>
            </symbol>

            <symbol id="icon-clock" viewBox="0 0 16 16">
                <title>icon-clock</title>
                <g>
                    <path d="M8 0C3.582 0 0 3.582 0 8s3.582 8 8 8 8-3.582 8-8-3.582-8-8-8zm0 15c-3.866 0-7-3.134-7-7s3.134-7 7-7 7 3.134 7 7-3.134 7-7 7z" />
                    <path d="M11.5 8H8V2.5c0-.276-.224-.5-.5-.5s-.5.224-.5.5v6c0 .276.224.5.5.5h4c.276 0 .5-.224.5-.5s-.224-.5-.5-.5z" />
                </g>
            </symbol>

            <symbol id="icon-close" viewBox="0 0 12 13">
                <title>icon-close</title>
                <g transform="translate(-1.000000, 0.000000)">
                    <path d="M12.3033009,0.48959236 L13.0104076,1.19669914 L7.70710678,6.5 L13.0104076,11.8033009 L12.3033009,12.5104076L7,7.20710678 L1.69669914,12.5104076 L0.98959236,11.8033009 L6.29289322,6.5 L0.98959236,1.19669914 L1.69669914,0.48959236 L7,5.79289322 L12.3033009,0.48959236 Z">
                </g>
            </symbol>

            <symbol id="icon-date" viewBox="0 0 16 15">
                <title>icon-date</title>
                <path d="M14.9999999,0 L13.9999999,0 L13.9999999,1 C13.9999999,1.552 13.5529999,2 12.9999999,2 L11.9999999,2 C11.4469999,2 10.9999999,1.552 10.9999999,1 L10.9999999,0 L4.99999989,0 L4.99999989,1 C4.99999989,1.552 4.55299989,2 3.99999989,2 L2.99999989,2 C2.44699989,2 1.99999989,1.552 1.99999989,1 L1.99999989,0 L0.99999989,0 C0.44699989,0 -1.09999974e-07,0.448 -1.09999974e-07,1 L-1.09999974e-07,14 C-1.09999974e-07,14.552 0.44699989,15 0.99999989,15 L14.9999999,15 C15.5529999,15 15.9999999,14.552 15.9999999,14 L15.9999999,1 C15.9999999,0.448 15.5529999,0 14.9999999,0 L14.9999999,0 L14.9999999,0 Z M14.9999999,14 L0.99999989,14 L0.99999989,3 L14.9999999,3 L14.9999999,14 L14.9999999,14 L14.9999999,14 Z"></path>
            </symbol>

            <symbol id="icon-decrement" viewBox="0 0 13 1">
                <title>icon-decrement</title>
                <rect x="0" y="0" width="13" height="1"></rect>
            </symbol>

            <symbol id="icon-edit" viewBox="0 0 16 16">
                <title>icon-edit</title>
                <path d="M15.70825,11.465125 L4.53625,0.293125 C4.14525,-0.097875 3.51225,-0.097875 3.12125,0.293125 L0.29225,3.121125 C-0.09775,3.512125 -0.09775,4.144125 0.29225,4.535125 L11.46425,15.707125 C11.82825,16.000125 12.17025,16.000125 12.17025,16.000125 L16.00025,16.000125 L16.00025,12.172125 C16.00025,12.172125 16.00025,12.172125 16.00025,12.171125 C16.00025,12.171125 16.00025,11.734125 15.70825,11.465125 L15.70825,11.465125 L15.70825,11.465125 Z M1.00025,3.828125 L3.82825,1.000125 L5.24325,2.414125 L2.41425,5.242125 L1.00025,3.828125 L1.00025,3.828125 L1.00025,3.828125 Z M3.12125,5.949125 L4.18225,4.888125 L13.23325,13.939125 L12.17125,15.000125 L3.12125,5.949125 L3.12125,5.949125 L3.12125,5.949125 Z M15.00025,15.000125 L13.58625,15.000125 L15.00025,13.586125 L15.00025,15.000125 L15.00025,15.000125 L15.00025,15.000125 Z M13.93925,13.232125 L4.88825,4.181125 L5.94925,3.120125 L14.99925,12.171125 L13.93925,13.232125 L13.93925,13.232125 L13.93925,13.232125 Z"
                    transform="translate(8.000000, 8.000000) rotate(90.000000) translate(-8.000000, -8.000000) "></path>
            </symbol>

            <symbol id="icon-email" viewBox="0 0 16 12">
                <title>icon-email</title>
                <path d="M15 0H1C.448 0 0 .448 0 1v10c0 .552.448 1 1 1h14c.552 0 1-.448 1-1V1c0-.552-.448-1-1-1zm-.5 1L8 7.5 1.5 1h13zm.5 10H1V2l7 7 7-7v9z">
            </symbol>

            <symbol id="icon-increment" viewBox="0 0 13 13">
                <title>icon-increment</title>
                <path d="M6,6 L0,6 L0,7 L6,7 L6,13 L7,13 L7,7 L13,7 L13,6 L7,6 L7,0 L6,0 L6,6 L6,6 Z">
            </symbol>

            <symbol id="icon-loading" viewBox="0 0 18 18">
                <title>icon-loading</title>
                <path d="M9,1 C13.418278,1 17,4.581722 17,9 C17,13.418278 13.418278,17 9,17 C4.581722,17 1,13.418278 1,9 L2,9 C2,12.865993 5.134007,16 9,16 C12.865993,16 16,12.865993 16,9 C16,5.134007 12.865993,2 9,2 L9,1 L9,1 Z"
                    stroke-width="0.25"></path>
            </symbol>

            <symbol id="icon-location" viewBox="0 0 12 16">
                <title>icon-location</title>
                <g>
                    <path d="M6 0C2.687 0 0 2.687 0 6c0 1.094.298 2.117.81 3h.01l5.187 7 5.185-7c.512-.883.81-1.906.81-3C12 2.687 9.312 0 6 0zm4 9l-4 5.312L2.022 9C1.39 8.162 1 7.13 1 6c0-2.762 2.238-5 5-5s5 2.238 5 5c0 1.13-.39 2.162-1.022 3H10z" />
                    <path d="M6 3C4.343 3 3 4.344 3 6s1.343 3 3 3 3-1.344 3-3-1.343-3-3-3zm0 5c-1.104 0-2-.896-2-2s.896-2 2-2 2 .896 2 2-.896 2-2 2z" />
                </g>
            </symbol>

            <symbol id="icon-menu" viewBox="0 0 16 13">
                <title>icon-menu</title>
                <path d="M0,12 L16,12 L16,13 L0,13 L0,12 L0,12 Z M0,6 L16,6 L16,7 L0,7 L0,6 L0,6 Z M0,0 L16,0 L16,1 L0,1 L0,0 L0,0 Z">
            </symbol>

            <symbol id="icon-no-image" viewBox="0 0 284 284">
                <title>icon-no-image</title>
                <g transform="translate(-5.000000, -5.000000)">
                    <path d="M0,0 L294,0 L294,294 L0,294 L0,0 L0,0 Z M180.297,122.887 L176.423,100.247 L97.125,114.17 L108.747,180.393 L116.617,179.061 L116.617,184.751 L197.125,184.751 L197.125,122.887 L180.297,122.887 L180.297,122.887 Z M116.617,172.402 L114.075,172.886 L104.632,119.496 L171.097,107.752 L173.761,122.886 L116.617,122.886 L116.617,172.402 L116.617,172.402 L116.617,172.402 Z M190.588,178.213 L123.154,178.213 L123.154,129.424 L190.588,129.424 L190.588,178.213 L190.588,178.213 Z M127.512,133.782 L127.512,169.98 L141.193,160.901 L149.667,166.227 L170.248,143.588 L172.912,144.677 L186.229,160.053 L186.229,133.782 L127.512,133.782 L127.512,133.782 L127.512,133.782 Z M140.587,149.399 C137.44,149.399 134.776,146.736 134.776,143.588 C134.776,140.44 137.44,137.776 140.587,137.776 C143.735,137.776 146.398,140.439 146.398,143.588 C146.398,146.736 143.735,149.399 140.587,149.399 L140.587,149.399 L140.587,149.399 Z"></path>
                </g>
            </symbol>

            <symbol id="icon-phone" viewBox="0 0 16 16">
                <title>icon-phone</title>
                <g>
                    <path d="M2 6h3c.552 0 1-.448 1-1V4h4v1c0 .552.448 1 1 1h3c.552 0 1-.448 1-1V3c0-1.657-1.343-3-3-3H4C2.343 0 1 1.343 1 3v2c0 .552.448 1 1 1zm0-3c0-1.104.896-2 2-2h8c1.104 0 2 .896 2 2v2h-3V3H5v2H2V3zM4 10c0 2.21 1.79 4 4 4s4-1.79 4-4-1.79-4-4-4-4 1.79-4 4zm7 0c0 1.657-1.343 3-3 3s-3-1.343-3-3 1.343-3 3-3 3 1.343 3 3z" />
                    <path d="M13 7h-1.022c.234.31.442.64.6 1H13c1.104 0 2 .896 2 2v5H1v-5c0-1.104.896-2 2-2h.422c.158-.36.366-.69.6-1H3c-1.657 0-3 1.343-3 3v5c0 .552.448 1 1 1h14c.552 0 1-.448 1-1v-5c0-1.657-1.343-3-3-3z" />
                </g>
            </symbol>

            <symbol id="icon-search" viewBox="0 0 16 16">
                <title>icon-search</title>
                <g>
                    <path d="M6.2 12.398c-3.42 0-6.2-2.78-6.2-6.2C0 2.782 2.78 0 6.2 0c3.418 0 6.198 2.78 6.198 6.2 0 3.418-2.78 6.198-6.2 6.198zm0-10.85c-2.565 0-4.652 2.087-4.652 4.65 0 2.565 2.087 4.652 4.65 4.652 2.565 0 4.652-2.087 4.652-4.65 0-2.565-2.087-4.652-4.65-4.652z" />
                    <path d="M14.712 15.486c-.198 0-.396-.076-.548-.227L9.517 10.61c-.302-.302-.302-.793 0-1.095.303-.302.792-.302 1.095 0l4.647 4.647c.302.302.302.793 0 1.095-.152.15-.35.226-.548.226z" />
                </g>
            </symbol>

            <symbol id="icon-share" viewBox="0 0 16 18">
                <title>icon-share</title>
                <path d="M12.8181818,11.5454545 C11.9454545,11.5454545 11.1636364,11.9636364 10.6727273,12.6 L6.25454545,10.0363636 C6.38181818,9.72727273 6.45454545,9.36363636 6.45454545,9 C6.45454545,8.63636364 6.38181818,8.27272727 6.25454545,7.96363636 L10.6727273,5.4 C11.1818182,6.03636364 11.9454545,6.45454545 12.8181818,6.45454545 C14.3272727,6.45454545 15.5454545,5.23636364 15.5454545,3.72727273 C15.5454545,2.21818182 14.3272727,1 12.8181818,1 C11.3090909,1 10.0909091,2.21818182 10.0909091,3.72727273 C10.0909091,4.09090909 10.1636364,4.45454545 10.2909091,4.76363636 L5.87272727,7.32727273 C5.36363636,6.69090909 4.6,6.27272727 3.72727273,6.27272727 C2.21818182,6.27272727 1,7.49090909 1,9 C1,10.5090909 2.21818182,11.7272727 3.72727273,11.7272727 C4.6,11.7272727 5.38181818,11.3090909 5.87272727,10.6727273 L10.2909091,13.2363636 C10.1636364,13.5454545 10.0909091,13.9090909 10.0909091,14.2727273 C10.0909091,15.7818182 11.3090909,17 12.8181818,17 C14.3272727,17 15.5454545,15.7818182 15.5454545,14.2727273 C15.5454545,12.7636364 14.3272727,11.5454545 12.8181818,11.5454545 L12.8181818,11.5454545 L12.8181818,11.5454545 Z M12.8181818,1.72727273 C13.9272727,1.72727273 14.8181818,2.61818182 14.8181818,3.72727273 C14.8181818,4.83636364 13.9272727,5.72727273 12.8181818,5.72727273 C11.7090909,5.72727273 10.8181818,4.83636364 10.8181818,3.72727273 C10.8181818,2.61818182 11.7090909,1.72727273 12.8181818,1.72727273 L12.8181818,1.72727273 L12.8181818,1.72727273 Z M3.72727273,11 C2.61818182,11 1.72727273,10.1090909 1.72727273,9 C1.72727273,7.89090909 2.61818182,7 3.72727273,7 C4.83636364,7 5.72727273,7.89090909 5.72727273,9 C5.72727273,10.1090909 4.83636364,11 3.72727273,11 L3.72727273,11 L3.72727273,11 Z M12.8181818,16.2727273 C11.7090909,16.2727273 10.8181818,15.3818182 10.8181818,14.2727273 C10.8181818,13.1636364 11.7090909,12.2727273 12.8181818,12.2727273 C13.9272727,12.2727273 14.8181818,13.1636364 14.8181818,14.2727273 C14.8181818,15.3818182 13.9272727,16.2727273 12.8181818,16.2727273 L12.8181818,16.2727273 L12.8181818,16.2727273 Z"
                    stroke-width="0.5"></path>
            </symbol>

            <symbol id="icon-star" viewBox="0 0 20 20">
                <title>icon-star</title>
                <path d="M20 7.65l-7-.92-3-6.683L7.003 6.73 0 7.65l5.146 5.052-1.326 7.25 6.18-3.56 6.18 3.56-1.324-7.25L20 7.65zm-10 6.83l-4.03 2.324.863-4.732-3.356-3.296 4.567-.6L10 3.816l1.96 4.36 4.566.6-3.357 3.296.864 4.732L10 14.48z">
            </symbol>

            <symbol id="icon-trash" viewBox="0 0 16 16">
                <title>icon-trash</title>
                <g>
                    <path d="M6.5,14 C6.776,14 7,13.776 7,13.5 L7,6.5 C7,6.224 6.776,6 6.5,6 C6.224,6 6,6.224 6,6.5 L6,13.5 C6,13.776 6.224,14 6.5,14 L6.5,14 L6.5,14 Z"></path>
                    <path d="M9.5,14 C9.776,14 10,13.776 10,13.5 L10,6.5 C10,6.224 9.776,6 9.5,6 C9.224,6 9,6.224 9,6.5 L9,13.5 C9,13.776 9.224,14 9.5,14 L9.5,14 L9.5,14 Z"></path>
                    <path d="M15,2 L10,2 C10,0.896 9.104,0 8,0 C6.896,0 6,0.896 6,2 L1,2 C0.448,2 0,2.447 0,3 L0,4 C0,4.553 0.448,5 1,5 L2,5 L2,15 C2,15.553 2.448,16 3,16 L13,16 C13.552,16 14,15.553 14,15 L14,5 L15,5 C15.552,5 16,4.553 16,4 L16,3 C16,2.447 15.552,2 15,2 L15,2 L15,2 Z M8,1 C8.552,1 9,1.447 9,2 L7,2 C7,1.447 7.448,1 8,1 L8,1 L8,1 Z M13,15 L3,15 L3,5 L13,5 L13,15 L13,15 L13,15 Z M15,4 L14,4 L13,4 L3,4 L2,4 L1,4 L1,3 L15,3 L15,4 L15,4 L15,4 Z"></path>
                </g>
            </symbol>

            <symbol id="icon-view-grid" viewBox="0 0 15 15">
                <title>icon-view-grid</title>
                <path d="M8,8 L15,8 L15,15 L8,15 L8,8 L8,8 Z M0,8 L7,8 L7,15 L0,15 L0,8 L0,8 Z M8,0 L15,0 L15,7 L8,7 L8,0 L8,0 Z M0,0 L7,0 L7,7 L0,7 L0,0 L0,0 Z">
            </symbol>

            <symbol id="icon-view-list" viewBox="0 0 16 13">
                <title>icon-view-list</title>
                <path d="M.89 1.882h14.22c.49 0 .89-.423.89-.94C16 .423 15.6 0 15.11 0H.89C.4 0 0 .424 0 .94c0 .52.4.942.89.942zM15.11 7H.89C.4 7 0 7.424 0 7.94c0 .52.4.942.89.942h14.22c.49 0 .89-.423.89-.94 0-.518-.4-.942-.89-.942zM15.11 14H.89c-.49 0-.89.424-.89.94 0 .52.4.942.89.942h14.22c.49 0 .89-.423.89-.94 0-.518-.4-.942-.89-.942z" />
            </symbol>


            <symbol id="icon-facebook" viewBox="0 0 9 18">
                <title>Facebook</title>
                <path d="M0,5.95237697 L1.86030579,5.95237697 L1.86030579,4.14395522 C1.86030579,3.34689615 1.88060824,2.11671819 2.45960398,1.35500042 C3.0701813,0.548918038 3.90784527,0 5.34856713,0 C7.69613167,0 8.68418414,0.335366363 8.68418414,0.335366363 L8.21948367,3.09198763 C8.21948367,3.09198763 7.44347899,2.86790876 6.72011028,2.86790876 C5.99674158,2.86790876 5.34856713,3.12732893 5.34856713,3.85069764 L5.34856713,5.95237697 L8.31573231,5.95237697 L8.10894812,8.64508313 L5.34856713,8.64508313 L5.34856713,18 L1.86030579,18 L1.86030579,8.64508313 L0,8.64508313 L0,5.95237697"></path>
            </symbol>

            <symbol id="icon-flickr" viewBox="0 0 32 32">
                <title>Flickr</title>
                <path d="M6.788 22.576c3.75 0 6.788-3.04 6.788-6.788 0-3.75-3.04-6.788-6.788-6.788C3.038 9 0 12.04 0 15.788c0 3.75 3.04 6.788 6.788 6.788zm18.424 0c3.75 0 6.788-3.04 6.788-6.788C32 12.038 28.96 9 25.212 9c-3.75 0-6.788 3.04-6.788 6.788 0 3.75 3.04 6.788 6.788 6.788z">
            </symbol>

            <symbol id="icon-google" viewBox="0 0 32 32">
                <title>Google Plus</title>
                <path d="M10.181 14.294v3.494h5.775c-0.231 1.5-1.744 4.394-5.775 4.394-3.475 0-6.313-2.881-6.313-6.431s2.838-6.431 6.313-6.431c1.981 0 3.3 0.844 4.056 1.569l2.762-2.662c-1.775-1.656-4.075-2.662-6.819-2.662-5.631 0.006-10.181 4.556-10.181 10.188s4.55 10.181 10.181 10.181c5.875 0 9.775-4.131 9.775-9.95 0-0.669-0.075-1.181-0.163-1.688h-9.613z"></path>
                <path d="M32 14h-3v-3h-3v3h-3v3h3v3h3v-3h3z"></path>
            </symbol>

            <symbol id="icon-instagram" viewBox="0 0 32 32">
                <title>Instagram</title>
                <path d="M25.523 13.537c.203.788.323 1.61.323 2.462 0 5.437-4.408 9.845-9.846 9.845S6.154 21.438 6.154 16c0-.852.12-1.675.324-2.463H3.692v13.54c0 .678.55 1.23 1.232 1.23h22.152c.68 0 1.232-.552 1.232-1.23v-13.54h-2.785zm1.553-9.845h-3.69c-.68 0-1.232.55-1.232 1.23v3.693c0 .68.55 1.23 1.23 1.23h3.692c.68 0 1.232-.55 1.232-1.23V4.922c0-.68-.55-1.23-1.232-1.23zM9.846 16c0 3.398 2.755 6.154 6.154 6.154 3.4 0 6.154-2.756 6.154-6.155 0-3.4-2.755-6.155-6.154-6.155-3.4 0-6.154 2.754-6.154 6.153zM3.692 32C1.652 32 0 30.346 0 28.306V3.692C0 1.652 1.653 0 3.692 0h24.616C30.348 0 32 1.653 32 3.692v24.614C32 30.346 30.347 32 28.308 32H3.692z">
            </symbol>

            <symbol id="icon-kickstarter" viewBox="0 0 32 32">
                <title>Kickstarter</title>
                <path d="M30.084 32H1.916C.858 32 0 31.142 0 30.083V1.916C0 .858.858 0 1.916 0h28.168C31.142 0 32 .858 32 1.916v28.167c0 1.06-.858 1.917-1.916 1.917zM14.64 13.216l3.21-4.646c.606-.875 1.39-1.313 2.348-1.313.783 0 1.46.278 2.033.834.57.557.858 1.22.858 1.996 0 .572-.15 1.078-.454 1.515l-2.89 4.205 3.534 4.482c.353.446.53.968.53 1.566 0 .79-.277 1.47-.833 2.038-.556.57-1.23.854-2.02.854-.867 0-1.528-.282-1.982-.846l-4.33-5.404v2.98c0 .85-.148 1.51-.443 1.982-.54.858-1.322 1.288-2.35 1.288-.933 0-1.657-.316-2.17-.947-.48-.58-.72-1.35-.72-2.31v-11.05c0-.91.244-1.66.732-2.247.514-.623 1.22-.935 2.12-.935.86 0 1.575.312 2.148.935.32.345.52.694.605 1.048.05.218.076.626.076 1.224v2.752z">
            </symbol>

            <symbol id="icon-linkedin" viewBox="0 0 32 32">
                <title>LinkedIn</title>
                <path d="M27.268 27.268h-4.745V19.84c0-1.77-.03-4.048-2.466-4.048-2.47 0-2.847 1.93-2.847 3.923v7.553h-4.74V11.996h4.55v2.088h.064c.633-1.2 2.182-2.466 4.49-2.466 4.806 0 5.694 3.162 5.694 7.274v8.376zM7.118 9.91c-1.524 0-2.754-1.233-2.754-2.753s1.23-2.752 2.754-2.752c1.518 0 2.75 1.233 2.75 2.752 0 1.52-1.232 2.753-2.75 2.753zM4.74 11.996h4.752v15.272h-4.75V11.996zM29.633 0H2.36C1.058 0 0 1.033 0 2.308V29.69C0 30.966 1.058 32 2.36 32h27.272C30.937 32 32 30.965 32 29.69V2.31C32 1.033 30.936 0 29.63 0z">
            </symbol>

            <symbol id="icon-mail" viewBox="0 0 24 24">
                <title>Mail</title>
                <path d="M20.016 8.016V6L12 11.016 3.984 6v2.016L12 12.986zm0-4.032q.797 0 1.383.61T21.983 6v12q0 .795-.586 1.404t-1.384.61H3.986q-.798 0-1.384-.61T2.016 18V6q0-.798.586-1.407t1.383-.61h16.03z">
            </symbol>

            <symbol id="icon-medium" viewBox="0 0 32 32">
                <title>Medium</title>
                <path d="M12.322 28.866L7.392 9.6v15.458h1.57v3.808H0v-3.808h1.568V7.808H0V4h12.322l4.032 16.938L19.938 4H32v3.808h-1.568v17.25H32v3.808h-9.745v-3.808h1.568V9.6l-4.928 19.266h-6.573z">
            </symbol>

            <symbol id="icon-pinterest" viewBox="0 0 32 32">
                <title>Pinterest</title>
                <path d="M16 0C7.163 0 0 7.163 0 16c0 6.778 4.217 12.568 10.17 14.9-.14-1.267-.267-3.21.055-4.59.29-1.25 1.876-7.954 1.876-7.954s-.477-.958-.477-2.375c0-2.223 1.29-3.884 2.895-3.884 1.365 0 2.025 1.025 2.025 2.254 0 1.372-.874 3.424-1.325 5.326-.377 1.593.798 2.892 2.37 2.892 2.843 0 5.03-3 5.03-7.327 0-3.83-2.754-6.51-6.685-6.51-4.552 0-7.224 3.417-7.224 6.946 0 1.375.53 2.85 1.19 3.65.13.16.15.298.11.46-.12.506-.39 1.592-.444 1.815-.07.294-.232.356-.535.215-2-.93-3.247-3.852-3.247-6.2 0-5.046 3.667-9.68 10.572-9.68 5.55 0 9.864 3.954 9.864 9.24 0 5.514-3.478 9.952-8.304 9.952-1.62 0-3.145-.843-3.667-1.838 0 0-.803 3.054-.998 3.803-.36 1.39-1.335 3.132-1.988 4.194C12.76 31.75 14.352 32 16 32c8.837 0 16-7.163 16-16S24.837 0 16 0">
            </symbol>

            <symbol id="icon-print" viewBox="0 0 24 24">
                <title>Print</title>
                <path d="M18 3v3.984H6V3h12zm.984 9q.422 0 .727-.28t.307-.704-.305-.727-.726-.307-.703.305-.28.726.28.703.704.28zm-3 6.984v-4.97h-7.97v4.97h7.97zm3-10.968q1.22 0 2.11.89t.89 2.11v6H18V21H6v-3.984H2.016v-6q0-1.22.89-2.11t2.11-.89h13.97z">
            </symbol>

            <symbol id="icon-rdio" viewBox="0 0 32 32">
                <title>Rdio</title>
                <path d="M16.57 3.352v7.585s-5.025-1.2-7.933 2.53c-2.907 3.73.626 9.678 6.184 8.027 5.706-1.693 4.735-6.195 4.735-6.89V4.364s5.516 4.7 9.55 4.803c2.928.073 3.217.657 2.672 2.086-.61 1.6-2.482 3.35-4.505 3.35 0 0 1.296 8.534-5.467 12.705-6.76 4.17-15.66 2.337-19.2-2.72-3.54-5.057-3.707-13.336.97-17.508C8.25 2.91 12.592 2.53 16.57 3.352z">
            </symbol>

            <symbol id="icon-reddit" viewBox="0 0 32 32">
                <title>Reddit</title>
                <path d="M7.074 12.27c2.574-1.466 5.362-2.065 8.225-2.247.104-.842.13-1.623.307-2.367.7-2.926 2.797-4.137 5.892-3.333.995.258 1.65.387 2.59-.455 2.043-1.822 5.19-.604 5.818 2.055.44 1.873-1.186 3.983-3.145 4.078-2.31.116-3.65-.997-4.085-3.37-.025-.14-.154-.316-.28-.38-1.02-.492-2.104-.744-3.227-.572-.86.133-1.464.724-1.7 1.53-.257.874-.347 1.797-.527 2.793.83.117 1.5.22 2.178.305 1.87.235 3.64.816 5.306 1.682.42.218.7.194 1.092-.062 2.27-1.49 5.117-.566 6.24 1.894.628 1.372-.016 3.315-1.488 4.387-.206.15-.426.468-.416.7.163 3.548-1.73 5.91-4.506 7.702-2.225 1.434-4.714 2.116-7.358 2.376-4.234.416-8.18-.32-11.75-2.687-2.144-1.42-3.605-3.344-4.023-5.95-.005-.027-.024-.055-.02-.077.368-1.404-.615-2.125-1.382-3.07-1.886-2.316-.215-5.01 2.015-5.78 1.403-.483 2.725-.2 4.24.847zm8.72-.59c-3.47-.08-7.185 1.19-9.412 3.115-2.36 2.04-3.38 4.936-1.502 7.85.89 1.377 2.154 2.33 3.59 3.063 3.673 1.875 7.548 2.125 11.518 1.295 2.473-.518 4.69-1.573 6.47-3.44 1.894-1.984 2.265-4.624.755-6.9-.636-.958-1.514-1.83-2.452-2.5-2.585-1.84-5.565-2.48-8.966-2.482zm10.542-7.12c-1.094-.002-2.02.864-2.038 1.906-.02 1.037.982 2 2.06 1.98 1.07-.016 1.968-.91 1.966-1.962 0-1.067-.883-1.922-1.988-1.923zm3.087 12.134c1.04-.754 1.065-1.925.48-2.793-.6-.885-2.066-1.435-3.27-.67.916 1.14 1.838 2.282 2.79 3.465zM5.405 13.21c-1.212-.767-2.803-.095-3.273.712-.618 1.062-.4 2.126.523 2.75l2.75-3.463zM15.85 25.386c-1.87.07-3.598-.383-5.198-1.372-.54-.334-.74-.763-.425-1.278.318-.52.86-.423 1.3-.142 1.012.65 2.115.938 3.3 1.113 1.83.272 3.503-.157 5.152-.843.28-.117.545-.393.813-.387.362.007.867.11 1.046.362.253.357.147.832-.34 1.103-1.76.977-3.625 1.517-5.65 1.443zm-6.66-7.574c.026-.96.92-1.78 1.894-1.73.965.047 1.817.93 1.798 1.862-.02.984-.848 1.742-1.89 1.73-1.066-.012-1.827-.8-1.8-1.862zm13.657.118c-.01.99-.83 1.763-1.853 1.748-1.02-.015-1.864-.826-1.858-1.786.007-.91.922-1.794 1.87-1.81 1.057-.016 1.854.783 1.84 1.85z">
            </symbol>

            <symbol id="icon-rss" viewBox="0 0 32 32">
                <title>RSS</title>
                <path d="M-.465 2.01S28.7.574 31 31.32h-5.89S26.26 8.907-.466 6.895V2.01zm0 10.203s17.098-.577 20.402 19.107h-5.89S13.33 19.684-.465 17.094v-4.88zm3.2 12.817c2.063 0 3.737 1.67 3.737 3.737 0 2.06-1.674 3.735-3.736 3.735C.672 32.502-1 30.83-1 28.767c0-2.065 1.672-3.737 3.736-3.737z">
            </symbol>

            <symbol id="icon-spotify" viewBox="0 0 32 32">
                <title>Spotify</title>
                <path d="M29.958 14.363c-.33 0-.668-.08-.98-.254-7.25-3.99-16.49-5.065-26.018-3.024-.632.135-1.013.217-1.565.033C.327 10.763-.25 9.61.105 8.54c.262-.786.958-1.307 1.735-1.384l.265-.056c10.485-2.247 20.727-1.027 28.84 3.437.985.544 1.345 1.784.802 2.77-.37.673-1.07 1.056-1.79 1.056zm-2.978 6.902c-.284 0-.57-.07-.837-.218-12.005-6.66-22.027-2.77-22.127-2.73-.885.354-1.89-.075-2.244-.96-.355-.883.074-1.888.958-2.243.47-.19 11.662-4.534 25.087 2.916.834.462 1.134 1.513.672 2.345-.317.57-.905.89-1.51.89zm-2.353 6.273c-.323 0-.646-.1-.926-.303-7.72-5.648-19.13-2.31-19.245-2.274-.83.25-1.704-.22-1.954-1.046-.25-.83.22-1.704 1.046-1.955.528-.16 13.01-3.84 22.008 2.744.7.51.853 1.492.34 2.19-.307.423-.783.645-1.266.645z">
            </symbol>

            <symbol id="icon-stumbleupon" viewBox="0 0 32 32">
                <title>StumbleUpon</title>
                <path d="M32 16c0 8.837-7.163 16-16 16S0 24.837 0 16 7.163 0 16 0s16 7.163 16 16zM15.997 9c-2.22 0-4.022 1.794-4.022 4.008v5.696c0 .524-.427.95-.953.95s-.952-.426-.952-.95v-2.532H7v2.637c0 2.212 1.8 4.006 4.022 4.006 2.222 0 4.022-1.794 4.022-4.008v-5.802c0-.524.427-.95.953-.95s.953.426.953.95v1.16l1.27.58 1.8-.58v-1.16c0-2.214-1.8-4.008-4.023-4.008zm.953 7.225v2.584c0 2.212 1.8 4.006 4.022 4.006 2.22 0 4.022-1.794 4.022-4.008v-2.532h-3.07v2.53c0 .526-.426.95-.952.95s-.953-.424-.953-.95v-2.583l-1.8.58-1.27-.58z">
            </symbol>

            <symbol id="icon-tumblr" viewBox="0 0 32 32">
                <title>Tumblr</title>
                <path d="M23.853 25.56c-.595.283-1.733.53-2.583.552-2.56.07-3.058-1.8-3.08-3.155v-9.962h6.426V8.15h-6.402V0h-4.688c-.077 0-.212.067-.23.24C13.022 2.733 11.853 7.11 7 8.86v4.133h3.24V23.45c0 3.58 2.64 8.665 9.61 8.546 2.35-.04 4.963-1.026 5.542-1.874l-1.54-4.565">
            </symbol>

            <symbol id="icon-twitter" viewBox="0 0 32 32">
                <title>Twitter</title>
                <path d="M32 7.08c-1.177.52-2.443.874-3.77 1.032 1.355-.812 2.396-2.1 2.886-3.632-1.27.752-2.674 1.3-4.17 1.593C25.75 4.797 24.044 4 22.156 4c-3.626 0-6.565 2.94-6.565 6.565 0 .515.06 1.016.17 1.496-5.456-.272-10.293-2.885-13.53-6.857-.566.97-.89 2.097-.89 3.3 0 2.278 1.16 4.287 2.92 5.465-1.076-.034-2.09-.33-2.973-.82v.08c0 3.182 2.262 5.836 5.266 6.44-.55.15-1.13.23-1.73.23-.423 0-.834-.042-1.235-.12.835 2.61 3.26 4.507 6.133 4.56-2.246 1.76-5.077 2.81-8.153 2.81-.53 0-1.052-.03-1.566-.09 2.906 1.862 6.357 2.95 10.065 2.95 12.076 0 18.68-10.005 18.68-18.68 0-.285-.007-.568-.02-.85C30.007 9.55 31.12 8.395 32 7.08">
            </symbol>

            <symbol id="icon-vimeo" viewBox="0 0 32 32">
                <title>Vimeo</title>
                <path d="M30.985 8.416c-.143 3.12-2.32 7.395-6.527 12.82-4.35 5.665-8.03 8.497-11.043 8.497-1.864 0-3.443-1.724-4.732-5.175L6.1 15.068c-.958-3.45-1.985-5.175-3.083-5.175-.24 0-1.077.504-2.51 1.51L-1 9.46C.58 8.07 2.137 6.68 3.67 5.286c2.106-1.824 3.687-2.783 4.74-2.88 2.492-.24 4.025 1.466 4.6 5.117.622 3.94 1.052 6.39 1.294 7.35.718 3.267 1.507 4.9 2.37 4.9.67 0 1.676-1.06 3.018-3.18 1.34-2.12 2.058-3.734 2.155-4.842.19-1.83-.528-2.746-2.155-2.746-.766 0-1.556.177-2.37.526 1.574-5.16 4.58-7.667 9.014-7.524 3.288.096 4.838 2.233 4.65 6.41">
            </symbol>

            <symbol id="icon-vine" viewBox="0 0 32 32">
                <title>Vine</title>
                <path d="M29.05 15.906c-.824.19-1.62.274-2.34.274-4.036 0-7.144-2.82-7.144-7.722 0-2.402.93-3.652 2.243-3.652 1.247 0 2.08 1.12 2.08 3.396 0 1.294-.346 2.71-.602 3.55 0 0 1.243 2.17 4.645 1.504.722-1.604 1.115-3.68 1.115-5.502C29.05 2.85 26.55 0 21.97 0c-4.71 0-7.466 3.62-7.466 8.395 0 4.73 2.21 8.79 5.856 10.638-1.533 3.067-3.483 5.768-5.518 7.803-3.69-4.462-7.027-10.414-8.397-22.03H1c2.516 19.346 10.013 25.506 11.996 26.69 1.12.672 2.086.64 3.112.063 1.61-.917 6.442-5.75 9.12-11.41 1.126-.003 2.477-.13 3.822-.436v-3.81">
            </symbol>

            <symbol id="icon-youtube" viewBox="0 0 32 32">
                <title>YouTube</title>
                <path d="M31.663 8.853s-.312-2.204-1.27-3.175c-1.217-1.274-2.58-1.28-3.206-1.354C22.712 4 15.997 4 15.997 4h-.013s-6.713 0-11.19.324c-.624.074-1.987.08-3.203 1.354C.634 6.648.32 8.853.32 8.853S0 11.44 0 14.03v2.425c0 2.59.32 5.177.32 5.177s.312 2.204 1.27 3.174c1.217 1.274 2.816 1.234 3.527 1.367 2.56.246 10.874.322 10.874.322s6.723-.01 11.198-.334c.626-.073 1.99-.08 3.205-1.353.96-.97 1.27-3.174 1.27-3.174s.32-2.588.32-5.177V14.03c0-2.59-.32-5.177-.32-5.177zM12.69 19.396l-.002-8.986 8.642 4.508-8.64 4.478z">
            </symbol>


            <symbol id="icon-visa" viewBox="0 0 1582 1024">
                <title>icon-visa</title>
                <path d="M449.88 329.060l135.69-0.001-201.66 495.090-135.54 0.080-104.28-394.52c74.18 30.47 140.14 96.7 167.010 168.79l13.44 68.731zM557.311 824.669l80.109-496.020h128.040l-80.1 496.020h-128.050zM1023.73 527.82c73.91 35.38 108 78.2 107.58 134.75-1.040 102.93-88.49 169.43-223.030 169.43-57.481-0.63-112.82-12.62-142.7-26.44l17.92-111.020 16.481 7.88c42.12 18.53 69.34 26.040 120.62 26.040 36.83 0 76.32-15.22 76.66-48.45 0.21-21.731-16.54-37.27-66.45-61.57-48.56-23.68-112.949-63.449-112.169-134.739 0.76-96.39 89.899-163.71 216.489-163.71 49.59 0 89.439 10.86 114.76 20.83l-17.33 107.52-11.49-5.68c-23.68-10.060-53.979-19.739-95.85-19.039-50.17 0-73.36 22.060-73.37 42.659-0.33 23.3 27.13 38.53 71.88 61.54zM1478.36 329.12l103.651 495.679h-118.86s-11.78-57.030-15.601-74.3c-18.67 0-149.33-0.27-164.010-0.27-4.98 13.44-26.921 74.58-26.921 74.58h-134.55l190.22-454.56c13.41-32.34 36.42-41.13 67.11-41.13h98.96zM1320.42 648.759c24.99 0 86.349 0.001 106.289 0.001-5.080-24.79-29.67-143.17-29.67-143.17l-8.63-42.78c-6.47 18.58-17.729 48.64-16.989 47.319 0 0-40.38 110.11-51 138.63zM311.129 598.46c-52.75-146.33-169.080-223.721-311.15-259.48l1.7-10.29h206.49c27.85 1.1 50.34 10.42 58.080 41.86z"></path>
            </symbol>

            <symbol id="icon-mastercard" viewBox="0 0 1730 1024">
                <title>icon-mastercard</title>
                <path d="M1547.71 486.17c19.19 0 28.799 13.969 28.799 41.039 0 40.99-17.46 70.681-42.77 70.681-19.2 0-28.8-13.96-28.8-41.91 0-41 18.33-69.81 42.771-69.81zM1224.84 584.789c0-20.95 15.71-32.281 47.12-32.281 3.49 0 6.11 0.88 12.23 0.88-0.87 31.41-17.45 52.351-39.26 52.351-12.23 0-20.091-7.85-20.091-20.949zM840.889 507.148c0 2.63-0.010 6.14-0.010 10.479h-61.080c5.24-24.43 17.45-37.529 34.9-37.529 16.59 0 26.189 9.6 26.189 27.050zM1217.91 0.057c282.81 0 512.090 229.291 512.090 512.071 0 282.75-229.28 511.98-512.090 511.98-122.7 0-234.36-43-322.57-115 67.26-65 118.609-146.15 146.169-238.080h-42.55c-26.65 81.71-73.49 153.83-134.38 212.070-60.53-58.11-106.931-130.49-133.501-211.83h-42.57c27.44 91.38 77.91 172.83 144.68 237.83-87.981 71-199.12 115-321.16 115-282.79 0-512.050-229.23-512.050-511.98 0-282.78 229.26-512.030 512.050-512.030 122.040 0 233.18 44.050 321.16 115.29-66.769 64.74-117.239 146.17-144.68 237.56h42.57c26.57-81.34 72.971-153.72 133.501-211.43 60.89 57.86 107.729 129.931 134.38 211.65h42.55c-27.56-91.91-78.909-173.23-146.169-238.171 88.21-71.981 199.87-114.931 322.57-114.931zM230.929 646.818h54.109l42.76-257.41h-85.519l-52.37 159.68-2.62-159.68h-78.53l-42.76 257.41h50.61l33.17-196.32 4.35 196.32h37.53l70.69-198.060zM463.048 623.258l1.729-13.071 12.231-74.18c3.5-23.56 4.36-31.42 4.36-41.89 0-40.14-25.3-61.080-72.43-61.080-20.070 0-38.4 2.62-65.44 10.47l-7.86 47.14 5.23-0.89 7.86-2.6c12.231-3.5 29.681-5.25 45.391-5.25 25.29 0 34.9 5.25 34.9 19.2 0 3.49 0 6.11-1.75 13.091-8.73-0.86-16.591-1.74-22.701-1.74-61.080 0-95.981 29.66-95.981 81.15 0 34.040 20.060 56.72 49.73 56.72 25.32 0 43.641-7.87 57.61-25.32l-0.87 21.82h45.37l0.87-5.24 0.88-7.86zM575.607 522.047c-23.56-10.47-26.221-13.080-26.221-22.68 0-11.35 9.6-16.6 27.050-16.6 10.481 0 25.32 0.89 39.28 2.63l7.86-47.99c-13.96-2.62-35.769-4.37-48-4.37-61.090 0-82.89 32.28-82.029 70.67 0 26.19 12.22 44.52 41.029 58.481 22.69 10.47 26.181 13.96 26.181 22.69 0 13.1-9.6 19.199-31.42 19.199-16.58 0-31.42-2.61-48.87-7.851l-7.86 47.99 2.62 0.88 9.59 1.74c3.5 0.86 7.88 1.75 14.86 1.75 12.22 1.74 22.689 1.74 29.68 1.74 57.59 0 84.64-21.82 84.64-69.801 0-28.8-11.34-45.39-38.39-58.48zM695.996 599.717c-13.090 0-18.329-4.367-18.329-14.837 0-2.64 0-5.25 0.88-8.74l14.83-87.24h27.93l6.99-51.481h-27.93l6.11-31.42h-54.1l-23.57 143.090-2.61 16.59-3.5 20.93c-0.88 6.1-1.76 13.1-1.76 18.35 0 30.519 15.72 46.239 43.649 46.239 12.22 0 24.439-1.75 39.269-6.98l6.99-46.24c-3.49 1.74-8.74 1.74-14.851 1.74zM823.417 603.22c-31.43 0-48.001-12.19-48.001-36.64 0-1.76 0-3.5 0.87-6.11h108.21c5.23-21.82 6.98-36.641 6.98-52.351 0-46.26-28.8-75.92-74.17-75.92-54.981 0-95.12 53.231-95.12 124.771 0 61.95 31.41 94.24 92.49 94.24 20.080 0 37.53-2.61 56.731-8.74l8.73-52.35c-19.19 9.6-36.641 13.1-56.721 13.1zM997.066 496.781h3.479c5.24-25.29 12.231-43.62 20.961-60.2l-1.75-0.87h-5.24c-18.33 0-28.811 8.72-45.381 34.050l5.24-32.29h-49.74l-34.040 209.4h54.981c20.070-128.27 25.311-150.090 51.49-150.090zM1155.89 644.24l9.603-58.479c-17.45 8.75-33.16 13.1-46.25 13.1-32.29 0-51.49-23.57-51.49-62.82 0-56.72 28.8-96.85 69.81-96.85 15.71 0 29.68 4.36 48.89 13.96l9.59-55.84c-5.23-1.74-6.98-2.61-13.961-5.23l-21.83-5.25c-6.98-1.74-15.711-2.61-25.311-2.61-72.42 0-123.040 64.57-123.040 156.17 0 68.95 36.66 111.71 96 111.71 14.83 0 27.91-2.63 47.99-7.86zM1328.67 610.212l11.352-74.171c4.36-23.56 4.36-31.42 4.36-41.89 0-40.14-24.43-61.080-71.56-61.080-20.070 0-38.4 2.62-65.45 10.47l-7.86 47.14 5.25-0.89 6.98-2.6c12.22-3.5 30.55-5.25 46.26-5.25 25.31 0 34.899 5.25 34.899 19.2 0 3.49-0.87 6.11-2.61 13.091-7.86-0.86-15.721-1.74-21.831-1.74-61.080 0-95.99 29.66-95.99 81.15 0 34.040 20.070 56.72 49.75 56.72 25.31 0 43.63-7.87 57.59-25.32l-0.88 21.82h45.38v-5.24l0.87-7.86 1.74-10.47zM1396.74 646.862c20.070-128.27 25.299-150.090 51.469-150.090h3.49c5.24-25.29 12.221-43.62 20.971-60.2l-1.76-0.87h-5.24c-18.32 0-28.79 8.72-45.37 34.050l5.24-32.29h-49.74l-33.17 209.4h54.11zM1562.53 646.862l51.47 0.010 41.9-257.41h-54.11l-12.21 73.31c-14.84-19.21-30.55-28.8-52.37-28.8-48 0-89.010 59.32-89.010 129.12 0 52.36 26.19 86.391 66.33 86.391 20.070 0 35.79-6.99 50.62-22.69zM361.787 584.921c0-20.95 15.739-32.281 46.289-32.281 4.36 0 6.98 0.88 12.211 0.88-0.88 31.41-16.58 52.351-39.29 52.351-12.22 0-19.21-7.85-19.21-20.949z"></path>
            </symbol>

            <symbol id="icon-american-express" viewBox="0 0 2224 1024">
                <title>icon-american-express</title>
                <path d="M2211.25 551.010l12.771 290.999c-22.030 10-105.12 54-136.311 54h-153.22v-21c-17.46 14-49.56 21-78.93 21h-481.7v-78.91c0-11.010-1.84-11.010-11.030-11.010h-8.23v89.92h-158.75v-93.58c-26.61 12.85-55.98 12.85-82.601 12.85h-17.42v80.731h-193.61l-45.89-53-50.45 53h-311.050v-345h316.55l44.95 53.231 49.55-53.231h212.86c24.79 0 65.17 3.68 82.59 21.12v-21.12h189.94c19.26 0 55.979 3.68 80.739 21.12v-21.12h286.28v21.12c16.5-13.769 45.87-21.119 72.48-21.119h159.63v21.12c17.46-11.92 42.229-21.12 74.34-21.12h146.51zM1116.97 763.879c50.46 0 101.849-13.77 101.849-82.58 0-66.981-52.32-80.74-98.2-80.74h-188.090l-76.17 80.74-71.56-80.74h-237.65v245.44h233.99l75.231-80.28 72.5 80.28h113.78v-82.12h74.32zM1472.040 753.788c-5.5-7.36-15.6-16.519-30.26-21.109 16.5-5.5 42.17-26.61 42.17-65.141 0-28.45-10.080-44.060-29.34-55.070-19.27-10.090-42.22-11.92-72.51-11.92h-134.87v245.44h59.66v-89.46h63.29c21.12 0 33.040 1.84 42.22 11.019 10.1 11.94 10.1 33.030 10.1 49.55v28.9h58.74v-47.25c0-22.030-1.86-33.030-9.2-44.96zM1714.28 651.939v-51.36h-196.36v245.44h196.36v-50h-138.55v-49.57h135.8v-49.54h-135.8v-44.97h138.55zM1863.83 846.019c59.64 0 93.622-24.281 93.622-76.591 0-24.78-7.36-40.37-17.44-53.24-14.69-11.92-35.801-19.269-68.831-19.269h-32.12c-8.26 0-15.6-1.83-22.949-3.67-6.42-2.76-11.93-8.26-11.93-17.45 0-8.25 1.85-13.76 9.189-19.269 4.59-3.68 11.93-3.68 22.93-3.68h108.27v-52.29h-117.46c-63.3 0-84.41 38.53-84.41 73.4 0 78 68.82 74.32 122.95 76.15 11 0 17.42 1.85 21.13 5.529 3.67 2.74 7.35 10.090 7.35 17.42 0 6.44-3.68 11.94-7.35 15.61-5.53 3.67-11.95 5.51-22.95 5.51h-113.77v51.84h113.77zM2094.16 846.047c59.64 0 93.571-24.312 93.571-76.621 0-24.78-7.34-40.37-17.42-53.24-14.7-11.92-35.8-19.269-68.84-19.269h-32.11c-8.26 0-15.62-1.83-22.96-3.67-6.42-2.76-11.92-8.26-11.92-17.45 0-8.25 3.67-13.76 9.17-19.269 4.6-3.68 11.949-3.68 22.949-3.68h108.27v-52.29h-117.46c-61.47 0-84.41 38.53-84.41 73.4 0 78 68.82 74.32 122.96 76.15 11 0 17.42 1.85 21.13 5.56 3.68 2.74 7.34 10.090 7.34 17.42 0 6.44-3.66 11.94-7.34 15.61-3.67 3.67-11.93 5.51-22.93 5.51h-113.78v51.84h113.78zM1406.9 656.565c7.36 3.68 11.931 11.002 11.931 21.092 0 11.019-4.57 19.279-11.931 24.779-9.18 3.68-17.439 3.68-28.439 3.68l-71.57 1.84v-55.981h71.57c11 0 21.1 0 28.439 4.59zM1155.47 276.657c-9.18 5.5-17.419 5.501-29.369 5.501h-72.48v-54.14h72.481c10.1 0 22.029 0 29.369 3.64 7.35 4.6 11.010 11.96 11.010 22.96 0 10.090-3.66 19.269-11.010 22.039zM1625.25 218.849l40.37 97.26h-80.74zM984.804 825.359l-90.82-101.851 90.82-96.34v198.19zM1120.6 651.928c21.12 0 34.88 8.261 34.88 29.371 0 21.1-13.76 33.029-34.88 33.029h-77.981v-62.4h77.981zM184.724 316.099l41.3-97.26 40.37 97.26h-81.67zM604.964 651.919l147.721 0.010 65.14 71.58-66.981 72.49h-145.88v-49.57h130.27v-49.54h-130.27v-44.97zM610.465 428.039l-17.432 44.060h-103.68l-17.46-42.22v42.22h-199.090l-21.11-55.981h-50.46l-22.94 55.981h-178.31l76.45-180.76 71.57-163.34h153.25l21.1 40.38v-40.38h178.92l40.37 87.18 39.46-87.18h570.72c26.61 0 49.53 4.59 66.981 19.269v-19.269h156.88v19.269c25.71-14.68 59.66-19.269 98.19-19.269h226.63l21.12 40.38v-40.38h166.98l24.79 40.38v-40.38h163.3v344.1h-165.15l-32.1-52.31v52.31h-205.55l-22.93-55.981h-50.47l-22.95 55.981h-107.35c-42.19 0-73.4-10.1-94.521-21.1v21.1h-255.070v-78.92c0-11.010-1.84-12.85-9.16-12.85h-8.26v91.76h-492.72v-44.050zM1387.62 205.079c-26.61 26.6-31.212 59.64-32.132 96.34 0 44.060 11.020 72.51 30.289 93.609 21.1 21.11 57.79 27.53 86.24 27.53h68.82l22.92-54.14h122.96l22.95 54.14h119.28v-184.43l111.030 184.43h84.4v-245.9h-60.55v170.66l-103.67-170.66h-90.85v232.14l-99.080-232.14h-87.18l-84.42 193.6h-26.61c-15.6 0-32.1-3.68-40.369-11.94-11-12.85-15.61-32.119-15.61-58.739 0-25.7 4.61-44.96 15.61-55.95 11.92-10.12 24.77-13.78 45.88-13.78h55.98v-53.22h-55.98c-40.38 0-72.49 9.16-89.91 28.45zM1266.52 176.639v245.9h59.63v-245.9h-59.63zM995.852 176.639l-0.001 245.919h57.78v-89h63.33c21.11 0 34.88 1.82 44.040 10.090 10.12 12.84 8.271 33.96 8.271 47.72v31.19h60.55v-48.62c0-21.11-1.84-32.13-11-44.060-5.52-7.34-15.6-15.6-28.46-21.1 16.51-7.36 42.22-26.62 42.22-65.14 0-28.46-11.95-44.070-31.22-55.99-19.26-11.010-40.38-11.010-70.64-11.010h-134.87zM756.351 176.657v245.909h197.28v-50.45h-137.64v-49.56h135.8v-50.47h-135.8v-44.050h137.64v-51.38h-197.28zM515.961 422.567h50.459l86.25-192.68v192.68h59.65v-245.9h-96.35l-72.481 167-77.090-167h-94.51v232.14l-100.93-232.14h-87.17l-105.51 245.9h63.3l22.030-54.14h123.88l22.019 54.14h120.19v-192.68z"></path>
            </symbol>

            <symbol id="icon-discover" viewBox="0 0 3053 1024">
                <title>icon-discover</title>
                <path d="M1613.79 257.88c145.47 0 258.959 111.689 258.959 253.939 0 143.070-114.26 254.74-258.96 254.74-148.42 0-259.68-110.22-259.68-257.63 0-138.68 116.32-251.050 259.681-251.050zM139.589 267.049c153.96 0 261.36 100.251 261.36 244.471 0 71.92-32.89 141.49-88.359 187.66-46.75 38.84-100.040 56.35-173.73 56.35h-138.86v-488.48h139.59zM250.608 633.92c32.86-29.19 52.451-76.14 52.451-123.090 0-46.86-19.58-92.231-52.44-121.53-31.49-28.53-68.66-39.53-130.080-39.53h-25.519v323.070h25.519c61.42 0 100.060-11.75 130.069-38.92zM444.789 755.54v-488.48h94.88v488.48h-94.88zM771.939 454.44c108.1 39.62 140.132 74.806 140.132 152.456 0 94.47-69.32 160.489-167.891 160.489-72.35 0-124.939-28.67-168.659-93.030l61.26-59.39c21.93 42.481 58.399 65.16 103.669 65.16 42.41 0 73.84-29.269 73.84-68.869 0-20.52-9.53-38.039-28.52-50.489-9.52-5.97-28.46-14.72-65.72-27.84-89.1-32.33-119.739-66.71-119.739-134.16 0-79.769 65.75-139.859 151.83-139.859 53.34 0 102.26 18.28 143.14 54.261l-49.58 65.070c-24.9-27.75-48.27-39.46-76.751-39.46-40.95 0-70.83 23.42-70.83 54.2 0 26.28 16.79 40.261 73.82 61.461zM942.002 511.556c0-141.96 115.352-255.51 259.222-255.51 40.89 0 75.27 8.73 116.899 29.91v112.13c-39.47-38.82-73.85-54.94-119.050-54.94-89.17 0-159.24 74-159.24 167.71 0 98.93 67.95 168.529 163.59 168.529 43.090 0 76.689-15.35 114.709-53.46v112.12c-43.12 20.43-78.17 28.54-119.050 28.54-144.62 0-257.080-111.31-257.080-255.029zM2087.64 595.227l131.51-328.13h102.92l-210.32 500.96h-51.070l-206.72-500.96h103.69zM2365.25 755.577v-488.48h269.39v82.72h-174.49v108.41h167.81v82.72h-167.81v131.94h174.49v82.69h-269.39zM3010.58 411.267c0 74.76-39.351 123.84-111.001 138.53l153.41 205.77h-116.83l-131.36-196.32h-12.43v196.32h-95.019v-488.48h140.94c109.59 0 172.29 52.65 172.29 144.181zM2820.010 491.907c60.8 0 92.91-26.449 92.91-75.499 0-47.54-32.12-72.52-91.39-72.52h-29.15v148.020h27.63z"></path>
            </symbol>

            <symbol id="icon-paypal" viewBox="0 0 1828 1024">
                <title>icon-paypal</title>
                <path d="M1507.51 335.27c70.75-1.17 148.249 19.789 130.299 104.839l-43.81 200.4h-101.1l6.76-30.29c-55.030 54.769-193.21 58.269-170.72-67.561 15.72-73.41 92.1-96.72 205.54-96.72 7.86-32.63-14.609-40.76-52.789-39.6-38.21 1.17-84.24 13.979-98.86 20.97l9-73.39c29.21-5.84 67.39-18.649 115.68-18.649zM1514.25 540.328c2.22-9.31 3.39-17.51 5.62-26.819h-24.721c-19.080 0-50.53 4.67-61.79 24.48-14.6 23.3 5.65 43.12 28.101 41.96 25.84-1.17 47.18-12.84 52.79-39.62zM1724.27 255.998h103.729l-84.67 384.51h-102.68zM1252.54 257.189c54.040 0 119.319 40.76 100.199 130.479-16.9 79.231-79.95 125.841-156.48 125.841h-77.68l-28.14 127h-109.18l83.3-383.32h187.98zM1249.19 387.658c6.74-29.14-10.14-52.42-38.29-52.42h-54.040l-22.52 104.85h50.65c28.16 0 57.43-23.29 64.199-52.43zM523.077 335.248c69.89-1.17 147.55 19.789 129.8 104.839l-43.269 200.4h-100.96l6.65-30.29c-53.24 54.769-189.721 58.269-167.53-67.56 15.55-73.41 91-96.72 203.050-96.72 6.67-32.63-15.52-40.76-53.261-39.6-37.71 1.17-83.22 13.979-96.54 20.97l8.87-73.39c27.74-5.84 65.481-18.649 113.19-18.649zM530.837 540.307c1.13-9.31 3.339-17.51 5.549-26.819h-25.519c-17.75 0-48.8 4.67-59.899 24.48-14.44 23.3 4.43 43.12 26.62 41.96 25.51-1.17 47.72-12.84 53.25-39.62zM912.896 340.738l104.161-0.001-239.86 427.24h-112.9l73.8-125.6-41.25-301.64h100.98l16.269 178.52zM271.967 257.166c55.29 0 119.619 40.76 100.439 130.479-16.92 79.231-80.13 125.841-155.75 125.841h-78.981l-27.1 127h-110.59l83.5-383.32h188.48zM268.586 387.636c7.9-29.14-10.139-52.42-37.249-52.42h-54.17l-23.7 104.85h51.92c28.22 0 56.43-23.29 63.199-52.43z"></path>
            </symbol>

            <symbol id="icon-apple" viewBox="0 0 68 32">
                <title>icon-apple</title>
                <path d="M17.946 13.146c.032 3.738 3.392 4.992 3.424 5.005-.032.084-.544 1.774-1.773 3.52-1.062 1.505-2.176 3.01-3.904 3.035-1.715.032-2.266-.98-4.224-.98-1.953 0-2.56.948-4.18 1.012-1.683.064-2.963-1.632-4.032-3.136-2.19-3.065-3.866-8.67-1.613-12.447C2.765 7.278 4.762 6.08 6.93 6.055c1.646-.032 3.2 1.075 4.212 1.075 1.024 0 2.906-1.33 4.896-1.133.832.032 3.168.32 4.672 2.45-.128.065-2.79 1.582-2.752 4.71zM14.72 3.95c.896-1.044 1.504-2.497 1.344-3.95-1.293.05-2.848.832-3.776 1.875-.82.928-1.536 2.406-1.344 3.827 1.427.115 2.893-.704 3.776-1.747zM27.635 2.163c.666-.115 1.395-.21 2.19-.3a25.52 25.52 0 0 1 2.623-.13c1.376 0 2.56.16 3.546.48.992.32 1.805.788 2.445 1.39.543.53.972 1.165 1.28 1.9.306.73.46 1.575.46 2.53 0 1.15-.21 2.175-.64 3.04-.416.87-.992 1.6-1.728 2.188-.717.59-1.587 1.025-2.586 1.32-1.005.287-2.1.428-3.283.428-1.062 0-1.965-.077-2.688-.23v9.6h-1.613l-.006-22.214zm1.6 11.213c.397.11.832.192 1.306.23.48.045.993.064 1.537.064 2.048 0 3.648-.46 4.768-1.395 1.126-.934 1.69-2.304 1.69-4.11 0-.863-.14-1.625-.435-2.265s-.717-1.178-1.26-1.587a5.868 5.868 0 0 0-1.953-.934 9.19 9.19 0 0 0-2.496-.32c-.722 0-1.343.03-1.874.082-.525.064-.947.128-1.267.192l-.014 10.042zm23.72 7.206c0 .64.012 1.293.03 1.94.02.64.084 1.26.193 1.855H51.68l-.237-2.266h-.077c-.205.32-.467.628-.787.935-.32.32-.686.595-1.108.85s-.896.468-1.434.622a6.384 6.384 0 0 1-1.76.23c-.8 0-1.504-.128-2.112-.384-.595-.256-1.088-.59-1.472-.998a3.89 3.89 0 0 1-.877-1.42 4.706 4.706 0 0 1-.294-1.6c0-1.895.82-3.348 2.445-4.372 1.632-1.024 4.083-1.517 7.36-1.472v-.42c0-.43-.032-.91-.115-1.46a4.382 4.382 0 0 0-.53-1.55c-.257-.485-.673-.895-1.217-1.234-.55-.333-1.293-.5-2.227-.5a7.16 7.16 0 0 0-2.1.308 6.93 6.93 0 0 0-1.9.896l-.513-1.178a7.953 7.953 0 0 1 2.26-1.05c.767-.21 1.58-.32 2.43-.32 1.134 0 2.062.192 2.78.576.716.37 1.28.858 1.69 1.46s.69 1.28.83 2.02c.155.743.23 1.486.23 2.222l.007 6.31zm-1.6-4.768c-.878-.02-1.78.013-2.727.102-.94.09-1.818.288-2.61.59-.8.293-1.46.735-1.985 1.317-.525.576-.787 1.344-.787 2.304 0 1.133.333 1.965.992 2.496.66.538 1.408.806 2.22.806.654 0 1.25-.09 1.774-.27s.98-.416 1.363-.717c.384-.3.717-.64.98-1.024.255-.372.46-.77.594-1.166.114-.448.172-.768.172-.96l.013-3.482zm4.74-7.443l4.16 10.414c.238.576.45 1.17.654 1.792.204.602.383 1.165.55 1.677h.063l.557-1.645c.192-.62.43-1.248.678-1.894l3.89-10.342h1.71l-4.736 11.744c-.486 1.248-.934 2.38-1.357 3.392s-.845 1.92-1.28 2.733c-.435.814-.87 1.537-1.312 2.158a9.122 9.122 0 0 1-1.49 1.632c-.64.557-1.217.96-1.76 1.216-.532.256-.897.422-1.076.486l-.544-1.3c.41-.178.864-.41 1.363-.703.512-.29.992-.667 1.472-1.134.41-.397.858-.928 1.344-1.587.493-.654.934-1.447 1.318-2.388.147-.352.21-.59.21-.704 0-.147-.063-.384-.204-.704L54.4 8.372h1.695z" />
            </symbol>
        </svg>
    </div>

    <header class="main-header" role="banner" data-main-header>




        <nav class="uk-navbar-container" style="background:#fff;" uk-navbar>
            <div class="uk-navbar-left">

                <ul class="uk-navbar-nav">
                    <li class="uk-active nsize"><a href="#"><i class="fas fa-bone fa-2x  fa-rotate-30"></i>&nbsp;&nbsp;Bark
                            N Bite</a></li>

                </ul>

            </div>
            <div class="uk-navbar-right">

                <ul class="uk-navbar-nav">
                    <!-- <li>
                        <a href="#">Home</a>

                    </li>
                    <li>
                        <a href="#">Products</a>

                    </li> -->
                    <li>
                        <a href="#">Cart &nbsp;&nbsp;<span class="uk-icon-button" uk-icon="">20</span></a>
                        <div class="uk-navbar-dropdown" style="width:400px;padding:0px;">
                            <div class="uk-card uk-card-default uk-width-1-1@m">
                                <div class="uk-card-header" style="padding: 10px 20px;">

                                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                                        <div class="uk-width-auto">
                                            <img class="uk-border-circle" width="100" height="100" src="img/dog.jpg">
                                        </div>
                                        <div class="uk-width-expand">
                                            <h3 class="uk-card-title uk-margin-remove-bottom" style="font-size:14px;">Royal
                                                Canin 5kg - Red Cherry</h3>
                                            <p class="uk-text-meta uk-margin-remove-top">x 1 &nbsp;&nbsp; <b>&#8377;&nbsp;
                                                    570</b></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-card-header" style="padding: 10px 20px;">

                                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                                        <div class="uk-width-auto">
                                            <img class="uk-border-circle" width="100" height="100" src="img/dog.jpg">
                                        </div>
                                        <div class="uk-width-expand">
                                            <h3 class="uk-card-title uk-margin-remove-bottom" style="font-size:14px;">Royal
                                                Canin 5kg - Red Cherry</h3>
                                            <p class="uk-text-meta uk-margin-remove-top">x 1 &nbsp;&nbsp; <b>&#8377;&nbsp;
                                                    570</b></p>
                                        </div>
                                    </div>
                                </div>

                                <div class="uk-card-footer cart-bot" style="border:none">
                                    <div class="uk-child-width-expand@s uk-text-center" uk-grid>
                                        <div>
                                            <div class="uk-card uk-card-default uk-card-body cart-pad" style="padding-left:20px;">
                                                <a href="#" class="button">View&nbsp;Cart</a>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="uk-card uk-card-default uk-card-body cart-pad">
                                                <span class="text-meta">Order total :</span>
                                                <h3 style="margin-top:6px;">&#8377;&nbsp;
                                                    570</h3>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>

                    </li>
                    <!-- <li>
                            <a href="#">Account</a>
                            <div class="uk-navbar-dropdown">
                                <ul class="uk-nav uk-navbar-dropdown-nav">
                                    <li class="uk-active"><a href="#">Login</a></li>
                                    <li class="uk-active"><a href="#">SignUp</a></li>
    
                                </ul>
                            </div>
    
                        </li> -->
                    <!-- <li>
                            <a href="#">More</a>
                            <div class="uk-navbar-dropdown">
                                <ul class="uk-nav uk-navbar-dropdown-nav">
                                    <li class="uk-active"><a href="#">About</a></li>
                                    <li class="uk-active"><a href="#">Contact Us</a></li>
    
                                </ul>
                            </div>
    
                        </li>
                        <li>
                            <a href="#"><img src="img/man1234.png" height="40px" width="40px" alt="" srcset="">&nbsp;
                                Ankush
                                Kumar</a>
                            <div class="uk-navbar-dropdown">
                                <ul class="uk-nav uk-navbar-dropdown-nav">
                                    <li class="uk-active"><a href="#">Active</a></li>
                                    <li><a href="#">Item</a></li>
                                    <li class="uk-nav-header">Header</li>
                                    <li><a href="#">Item</a></li>
                                    <li><a href="#">Item</a></li>
                                    <li class="uk-nav-divider"></li>
                                    <li><a href="#">Item</a></li>
                                </ul>
                            </div>
                        </li> -->

                </ul>
            </div>
        </nav>



    </header>

    <%- messages('message', locals) %>

    <header class="page-header-wrapper">
        <div class="container">
            <div class="page-header">
                <div class="breadcrumbs-wrapper">
                    <div class="breadcrumbs">
                        <a href="/">Home</a> <span class="divider">/</span>
                        <a href="/orders">Your Account</a> <span class="divider">/</span>
                        <span class="breadcrumbs-current">
                            Address Book
                        </span>
                    </div>
                </div>

            </div>
        </div>
    </header>

    <div class="container">



        <section class="account-wrapper account-page-addresses">


            <nav class="account-nav">
                <ul class="account-nav-list">
                    <li class="account-nav-item is-active">
                        <a class="account-nav-link" href="/orders">Orders</a>
                    </li>



                    <li class="account-nav-item ">
                        <a class="account-nav-link" href="/address">Address</a>
                    </li>

                    <li class="account-nav-item">
                        <a class="account-nav-link" href="/wishlist">Wishlists</a>
                    </li>



                    <li class="account-nav-item">
                        <a class="account-nav-link" href="/account">Account Settings</a>
                    </li>
                </ul>

            </nav>

            <%- content %>
        </section>
    </div>



    <footer class="main-footer" style="margin-bottom:14px;">
        <div class="container">
            <div class="footer-module-wrapper">
                <div class="footer-module shop-contact-wrapper">
                    <h2 class="section-title">Where to find us</h2>
                    <div class="shop-contact">
                        <div class="shop-contact-item">
                            <i class="fa fa-location-arrow fa-2x" aria-hidden="true" style="color:#f35; margin-left:5px;"></i>
                            <p class="shop-contact-item-details">Aj - 64A<br>
                                SHALIMAR BAGH, ND<br>
                                110088</p>
                        </div>

                        <div class="shop-contact-item">
                            <i class="fa fa-phone fa-2x" aria-hidden="true" style="color:#f35; margin-left:5px;"></i>
                            <p class="shop-contact-item-details">
                                Mr. SANDEEP<br>
                                (+91):9999733232</p>
                        </div>
                    </div>
                </div>

                <div class="footer-module shop-sitemap-wrapper">
                    <h2 class="section-title">Sitemap</h2>
                    <ul class="shop-sitemap">
                        <li><a href="#">Blog</a></li>

                        <li><a href="about.php">About</a></li>
                        <li><a href="contact.php">Contact Us</a></li>
                    </ul>
                </div>

                <div class="footer-module footer-social-media">
                    <h2 class="section-title">Follow Us</h2>
                    <a class="social-button social-twitter" target="_blank" href="#">
                        <span class="icon-wrapper"><svg>
                                <use xlink:href="#icon-twitter">
                            </svg></span>
                    </a>
                    <a class="social-button social-instagram" target="_blank" href="#">
                        <span class="icon-wrapper"><svg>
                                <use xlink:href="#icon-instagram">
                            </svg></span>
                    </a>
                    <a class="social-button social-facebook" target="_blank" href="#">
                        <span class="icon-wrapper"><svg>
                                <use xlink:href="#icon-facebook">
                            </svg></span>
                    </a>
                    <a class="social-button social-pinterest" target="_blank" href="#">
                        <span class="icon-wrapper"><svg>
                                <use xlink:href="#icon-pinterest">
                            </svg></span>
                    </a>
                    <a class="social-button social-google" target="_blank" href="#">
                        <span class="icon-wrapper"><svg>
                                <use xlink:href="#icon-google">
                            </svg></span>
                    </a>
                </div>

                <div class="footer-module mailing-list-wrapper">
                    <h2 class="section-title">Track Us On Google Maps</h2>


                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3499.449619373163!2d77.16035661484119!3d28.70610618238873!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d022659871869%3A0xbc698d567bd3f747!2sBARK+N+BITE!5e0!3m2!1sen!2sin!4v1506925242918"
                        width="400" height="200" frameborder="0" style="border:0;" allowfullscreen></iframe>

                </div>
            </div>

        </div>
    </footer>

    <div class="footer-attribution">
        <div class="payment-icons">
            <svg class="footer-payment-icon">
                <use xlink:href="#icon-visa"></use>
            </svg>

            <svg class="footer-payment-icon">
                <use xlink:href="#icon-mastercard"></use>
            </svg>






        </div>

        &copy;
        <script>document.write(new Date().getFullYear())</script> BARK N BITE
    </div>

    <div class="quick-shop" data-quick-shop></div>

    <div class="global-login" data-global-login>
        <button class="global-login-close" type="button" data-account-login-close><svg>
                <use xlink:href="#icon-close">
            </svg></button>

        <section class="account-wrapper account-page-login account-nav-hidden">



            <div class="account-body">


                <div class="account-content">


                    <div class="account-login-wrapper">
                        <div class="account-login">
                            <h2 class="account-sub-heading">Log in</h2>

                            <form class="account-login-form form" action="/login.php?action=check_login" method="post"
                                data-validated-form>

                                <div class="form-field form-field-common form-field-email  form-required" id="login_email">
                                    <label class="form-label">
                                        <span class="form-field-title">
                                            Email Address
                                            <span class="required-text">*</span>
                                        </span>
                                        <span class="form-field-control">
                                            <input class="form-input" id="input-login_email" name="login_email" type="email"
                                                placeholder="" required aria-required="true">
                                        </span>
                                    </label>
                                </div>

                                <div class="form-field form-field-common form-field-password  form-required" id="login_pass">
                                    <label class="form-label">
                                        <span class="form-field-title">
                                            Password
                                            <span class="required-text">*</span>
                                        </span>
                                        <span class="form-field-control">
                                            <input class="form-input" id="password-login_pass" name="login_pass" type="password"
                                                placeholder="" required aria-required="true">
                                        </span>
                                    </label>
                                </div>

                                <div class="form-actions">
                                    <input type="submit" class="button account-button-primary account-login-button"
                                        value="Log In">
                                    <a class="account-forgot-password-link" href="/login.php?action=reset_password">Forgot
                                        password?</a>
                                </div>
                            </form>
                        </div>

                        <div class="account-create">
                            <h2 class="account-sub-heading">New Customer</h2>
                            <p class="account-create-intro">Create an account with us and you&#x27;ll be able to:</p>
                            <ul class="account-create-facts">
                                <li>Check out faster</li>
                                <li>Save multiple shipping addresses</li>
                                <li>Access your order history</li>
                                <li>Track new orders</li>
                                <li>Save items to your wish list</li>
                            </ul>
                            <a class="button account-button-primary" href="/login.php?action=create_account">Create
                                Account</a>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </div>

    <div class="loading" data-loading>
        <span></span>
        <span></span>
    </div>



    <script src="../js/probnb.js"></script>
    <script>
        // Exported in app.js
        window.stencilBootstrap("pages/product", "{\"themeImageSizes\":[],\"required\":\"*\",\"validationRequired\":\"This field is required\",\"validationEmail\":\"Your email address appears to be invalid.\",\"validationNumber\":\"You can enter only numbers in this field.\",\"validationNumMax\":\"Please enter a number less than undefined.\",\"validationNumMin\":\"Please enter a number greater than undefined.\",\"validationNumRange\":\"Please enter a number greater than undefined and less than undefined.\",\"validationMaxLength\":\"Maximum undefined characters allowed.\",\"validationMinLength\":\"Minimum undefined characters allowed.\",\"validationMaxChecked\":\"Maximum undefined options allowed.\",\"validationMinChecked\":\"Please select minimum undefined options.\",\"validationMaxSelected\":\"Maximum undefined selection allowed.\",\"validationMinSelected\":\"Minimum undefined selection allowed.\",\"validationNotEqual\":\"Fields do not match.\",\"validationDifferent\":\"Fields cannot be the same as each other.\",\"addSuccess\":\"*product* has been successfully added to your *cart_link*. Feel free to *continue_link* or *checkout_link*.\",\"priceYouSave\":\"You save\",\"chooseFile\":\"Choose File\",\"addToCart\":\"Add To Bag\",\"cartLink\":\"bag\",\"checkoutLink\":\"check out\",\"homeLink\":\"continue shopping\",\"preOrder\":\"Pre-Order\",\"soldOut\":\"Sold Out\",\"urlsCart\":\"/cart.php\",\"urlsCheckout\":\"/checkout.php\",\"productStock\":\"Stock\",\"productListingCount\":20,\"navigationMenu\":\"Menu\",\"navigationClose\":\"Close\"}").load();
    </script>
    <script>
        // Exported in app.js
        window.stencilBootstrap("pages/cart", "{\"themeImageSizes\":[],\"required\":\"*\",\"validationRequired\":\"This field is required\",\"validationEmail\":\"Your email address appears to be invalid.\",\"validationNumber\":\"You can enter only numbers in this field.\",\"validationNumMax\":\"Please enter a number less than undefined.\",\"validationNumMin\":\"Please enter a number greater than undefined.\",\"validationNumRange\":\"Please enter a number greater than undefined and less than undefined.\",\"validationMaxLength\":\"Maximum undefined characters allowed.\",\"validationMinLength\":\"Minimum undefined characters allowed.\",\"validationMaxChecked\":\"Maximum undefined options allowed.\",\"validationMinChecked\":\"Please select minimum undefined options.\",\"validationMaxSelected\":\"Maximum undefined selection allowed.\",\"validationMinSelected\":\"Minimum undefined selection allowed.\",\"validationNotEqual\":\"Fields do not match.\",\"validationDifferent\":\"Fields cannot be the same as each other.\",\"addSuccess\":\"*product* has been successfully added to your *cart_link*. Feel free to *continue_link* or *checkout_link*.\",\"priceYouSave\":\"You save\",\"chooseFile\":\"Choose File\",\"addToCart\":\"Add To Bag\",\"cartLink\":\"bag\",\"checkoutLink\":\"check out\",\"homeLink\":\"continue shopping\",\"preOrder\":\"Pre-Order\",\"soldOut\":\"Sold Out\",\"urlsCart\":\"/cart.php\",\"urlsCheckout\":\"/checkout.php\",\"productStock\":\"Stock\",\"productListingCount\":20,\"navigationMenu\":\"Menu\",\"navigationClose\":\"Close\",\"removeGiftWrap\":\"Are you sure you want to remove the gift wrap option from this item?\",\"cancel\":\"Cancel\",\"couponCodeEmptyInput\":\"Please enter your coupon code.\",\"giftCertificateInputEmpty\":\"Please enter your valid certificate code.\"}").load();
    </script>

    <!-- snippet location footer -->
</body>

</html>