<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bark N Bite - Admin</title>
</head>

<body>
    <div style="width:100%;height: 100vh; padding: 100px;">
        <a href="/admin/xyz/sandeep/barknbite/@1234/5678/add/product" style="text-decoration:none;">Add Products</a>
        <br>
        <br>
        <a href="/admin/xyz/sandeep/barknbite/@1234/5678/product" style="text-decoration:none;">Products</a>
        <br>
        <br>
        <a href="/admin/xyz/sandeep/barknbite/@1234/5678/orders" style="text-decoration:none;">Orders</a>
        <br>
        <br>
        <a href="/admin/xyz/sandeep/barknbite/@1234/5678/orders/complete" style="text-decoration:none;">Completed
            Orders</a>


    </div>

</body>

</html>